/* CSS reset */
#footy {
  padding-top: 39px !important;
}
/* .sidenav {
  background-color: rgba(0,0,0,.93) !important;
  background-color: var(--side-nav-1) !important;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: white !important;
  background-color: var(--sec-color) !important;
}
.burg-links {
  color: white !important;
  color: var(--sec-color) !important;
}
.tab-content p {
  color: black !important;
  color: var(--sec-color) !important;
}
*/

.foot, .foot a p {
  color: white;
  background-color: black;
}

/*
h5 {
  color: var(--main-text-color) !important;
}

.index-but {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  opacity: 1 !important;
  height: 40px;
  width: 200px;
  background-color: rgba(255,255,255,0);
  color: white;
  border: 1px solid white;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  margin: 3px 10px;
}
*/

.index-but:hover {
  color: #999;
  border: 1px solid #999;
}

#footy {
  position: absolute;
  background-color: rgba(225,225,225,0);
  background-color: var(--main-bg-color);
  z-index: 7;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
    bottom: 0px;
}



@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* General Demo Style */
body{
    height: 100%;
  background: #fff;
  font-weight: 300;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}


.slideshow li span  {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -40;
    animation: imageAnimation 20s infinite 0s;
}




/*
#slideshowButtons{
  position: absolute;
  z-index: 5;
  top: 55%;
  left: 43%;

}

.dot{
  
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  
}

.dot:hover{
  color:#EE202E !important;
}
*/


#SSONECenterImg{
  max-width: 1000px;
  top: 25vh;
  width: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  
}




#SSTWOCenterImg{
  opacity: .6;
  width: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 20;
}



#qs-HomeSS{
  position: relative;
  z-index: 21;
  width: 30%;
  top: 35vh;
  left: 0;
}




#SSTHREECenterImg{
  
  max-width: 1000px;
  top: 30vh;
  width: 100%;
  transform: translate(-50%, 0);
  position: absolute;
}


/*
.SSTHREEDescripText {
    width: fit-content;
    color: white;
    position: absolute;
    left: 49.5%;
    top: 30%;
    transform: translate(-50%,0);
}

.SSTHREEDescripText2 {
  width: fit-content;
  color: white;
  position: absolute;
  left: 49.5%;
  top: 75%;
  transform: translate(-50%,0);
}
*/

#blade{

  max-width: 650px;
}


#SSFOURCenterImg{
  
  top: 20vh;
  left: 5vw;
  max-width: 650px;
  
  
}


#SSFOURCenterImg2{
  
  left: 10vw;
  width: 90%;
  max-width: 350px;
  top: 35vh;
  background: radial-gradient(circle, rgb(68, 68, 68) 0%, rgb(83,83,83) 35% );
  
  
}

/*
#SSFIVECenterImg{
  max-width: 1000px;
  top: 20vh;
  width: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  background-color: #fff;
}
*/

/*

#SSFOURDescripText{
  
  clear: both;
  width: auto;
  
  border: 1px double blue;
}

#SSFOURDescripText h1{

    font-size: 25px;
    letter-spacing: 3px;
    color: white;
      
}


.slideshow li span {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -40;
    -webkit-backface-visibility: hidden;
    animation: imageAnimation 24s infinite 0s;
}

.boldword1 {
    z-index: 1;
    color: black;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,0);
}

.boldword1::before {
    content: "MODA";
    font-weight: 400;
}


.SSONECenterImg {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translate(-50%,0);
}

.SSONEDescripText {
    width: fit-content;
    color: black;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,0);
}

.boldword2 {
    z-index: 1;
    color: black;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,0);
}

.boldword2::before {
    content: "MINI";
    font-weight: 400;
}

.SSTWOCenterImg {
    width: 100%;
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0);
}

.SSTWODescripText {
    width: fit-content;
    color: black;
    position: absolute;
    left: 49.5%;
    top: 55%;
    transform: translate(-50%,0);
}

.slide3{
  
  z-index: 5;
}
*/

#nano-link{
  text-decoration: none;
  color: white !important;
}

#nano-link:hover{
  color: var(--moda-red) !important;
}

#nanoBlock::after{
  content: "";
  display: table;
  clear: both;
}

#awardsBlock {
  background-color: black;
}

#newsBlock {
  background-color: black;
  width: 100vw;
}

.slideshow li:nth-child(1) span { 
  background-color: #fff;
  animation-delay: 0s;
}
.slideshow li:nth-child(2) span { 
  background-color: white;
  animation-delay: 5s;
}

.slideshow li:nth-child(3) span {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 100%);
 
  animation-delay: 10s;
} 

.slideshow li:nth-child(4) span{

  animation-delay: 15s;
  background: rgb(83,83,83);

}
.slideshow li:nth-child(5) span { 
  background-color: white;
  animation-delay: 20s;
}



@keyframes imageAnimation {
  0%   { opacity: 0;}
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  55.55%  { opacity: 0; }
  100% { opacity: 0;}
}
@keyframes gifAnimation {
  0%   { opacity: 0;}
  11.11%   { opacity: 1; }
  90.11%   { opacity: 1; }
  99.44%  { opacity: 0; }
  99.55%  { opacity: 0; }
  100% { opacity: 0;}
}

@media (max-width: 425px) {

  .ctSVG {
    margin-top: 0px !important;
  }
  #ledText {
    margin-top: -50px;
  }
}

@media (max-height: 860px) {
  #nano-text{
    width: 20%;
  }
  #scrollChev {
    bottom: 25px;
  }
}

/*
@media (max-width: 1024px) {
  #scrollChev {
    bottom: 50px;
  }
}
*/

@media (max-width: 800px) {
  #nanoText {height: 620px;}
  #nano-block{ height: 120vh;}
}
@media (max-width: 1499px) {
  #awardText { justify-content: center;}
  #SSTWOCenterImg{ height: 100%; width: 150%; }
  #qs-HomeSS{width: 50%;}
}

@media (min-width: 1500px) {
  #SSTWOCenterImg{
    width: 130vw;
  }
}

/*
*/


@media (max-width: 1024px) {
  #SSTWOCenterImg{
    
    width: 350vw;
  }
  #qs-HomeSS{
    width: 65%;
  }
  #nano-text{width:32vw;}
  
  #honeycomb{ width: 62vw; top: -150px; }
  #louvres3{ width: 33vw; }
}

@media (max-height: 1000px) and (min-height: 800px ) {
  
  #SSTWOCenterImg{
    
    width: 300vw;
  }
  /*
  #SSTHREECenterImg1{width: 60vw;}
  .SSTWOCenterImg{width: 75vw;}
  */
  
}


@media (width: 768px) {
  #SSTWOCenterImg{
    
    width: 300vw;
  }
  
  
}


/*mobile code*/
@media screen and (max-width: 481px){

  .slideshow li:nth-child(1) span img{
    width: 100%;
  }
  .slideshow li:nth-child(2) span #SSTWOCenterImg{
    width: 190vw;
   
  }

  .slideshow li:nth-child(2) span #qs-HomeSS{
    width: 85%;
  }
  
  .slideshow li:nth-child(3) span img{
    width: 100%;
  }

  .slideshow li:nth-child(4) span img{
    width: 80% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slideshow li:nth-child(5) span img{
    width: 100%;
  }





/*
  .SSFOURCenterImg{left: -145%; top: 10%; width: 20%;}
  .SSFOURDescripText h1{ font-size: 20px;}
  .SSFOURDescripText{ left: 30%;  max-width: 300px;}
*/
}
