.navbar {
	background-color: white !important;
	background-color: var(--sec-color) !important;
}
#navlist li a {
	color: rgba(0,0,0,.7);
	color: var(--nav-text);
}

.nav li ul {
 background-color: white !important;	
}

nav li ul li a {
	color: black !important;
}
body,html {
	color: black !important;
}