body {
	position: relative;
}

.fixed-bar {
	position: fixed;
	width: 100%;
	padding-bottom: 0px;
	background-color: white;
	z-index: 4;
}
#inner-bar {
	width: 100%;
	padding: 0 10px;
	max-width: 1000px;
}


#prod-name {
	font-size: 20px;
	margin-bottom: 0px;
	margin-left: 8px;
}

.prod-links {
	font-size: 16px;
/*	padding:  0 10px 0 0px;*/
	color: black
}

.prod-links:hover {
	text-decoration: none;
	color: var(--moda-red);
}

.bar-links {
	padding-top: 0px;
	padding-left: 0px;
	margin-right: 8px;
}
.bar-links li {
	list-style: none;
	float: right;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 15px;
}

hr {
	border-top: 1px solid #cccccc;
	border-bottom: 0px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}



