.spec-box {
    background-color: #eaeaea;
    /* height: 55px; */
    padding: 10px;
    margin: 1px 0;
    text-align: left;
}
.spec-body {
    display: flex;
    justify-content: space-between;
}

.spec-label {
    cursor: pointer;
    color: black;
}

.spec-checkbox {
    display: none;
}

.minus {
  display: none;
}

.spec-checkbox:checked + .spec-label .minus {
    display: inline;
  }
  
  .spec-checkbox:checked + .spec-label .add {
    display: none;
  }

.submit-btn-container {
  margin-top: 25px; margin-left: 15px;
}

  .btn {
    background-color: var(--moda-red);
    border: none;
    width: min-content;
    height: min-content;
    color: white;

  }
  .btn:hover {
    background-color: var(--moda-red);
    opacity: .7;
    color: white;
    border: none;
    box-shadow: none;
  }
.btn:active {
  background-color: var(--moda-red);
}
.btn:focus {
  background-color: var(--moda-red);
}
.row h3 {
  padding-left: 10px;
}



#result {
  padding: 6px 15px;
}
.tooltips {
  position: relative;
  display: inline-block;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: max-content;
  height: 32px;
  margin-top: 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  opacity: 0;
  transition: .5s;
  
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* .tooltips:hover > .tooltiptext {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 1s;
} */

.show {
  opacity: 1 !important;
  visibility: visible !important;
}
/* @keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
} */