<filesMatch "index-slide-2.html">
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
Header set Vary "*"
</filesMatch>

Redirect 301 /moda-mini-cove.html http://modalight.com/#/mini-cove
Redirect 301 /products.html http://modalight.com/#/all-products
Redirect 301 /moda-reps.html http://modalight.com/#/reps
Redirect 301 /moda-flex.html http://modalight.com/#/int-flex
Redirect 301 /starflex.html http://modalight.com/#/int-star
Redirect 301 /zilva.html http://www.modalight.com/#/leg-zilva
Redirect 301 /starflex.html http://www.modalight.com/#/int-star
Redirect 301 /moda-mini-cove-rgbw.html http://www.modalight.com/#/mmc-cc
Redirect 301 /moda-mini-cove-dw.html http://www.modalight.com/#/mmc-dw
Redirect 301 /flatflex.html http://www.modalight.com/#/int-flat
Redirect 301 /edge.html http://www.modalight.com/#/int-edge
Redirect 301 /x-flex.html http://www.modalight.com/#/int-x-flex
Redirect 301 /ecoflex.html http://www.modalight.com/#/int-eco-wl
Redirect 301 /downloads.html http://www.modalight.com/#/resources
Redirect 301 /about-us.html http://www.modalight.com/#/about
Redirect 301 /rgbw-starflex.html http://www.modalight.com/#/int-star-rgbw
