Redirect 301 /moda-mini-cove.html http://modalight.com/#/mini-cove
Redirect 301 /products.html http://modalight.com/#/all-products
Redirect 301 /moda-reps.html http://modalight.com/#/reps
Redirect 301 /moda-flex.html http://modalight.com/#/int-flex
Redirect 301 /starflex.html http://modalight.com/#/int-star
