<!DOCTYPE html>

<link href="css/new-navbar.css" rel="stylesheet" type="text/css">
<link href="css/resources.css" rel="stylesheet" type="text/css">
<link href="css/mnc.css" rel="stylesheet" type="text/css">



<!--<script src="js/scrollSpy.js"></script>-->
 


<style>
	#nav-nano {
		font-weight: var(--active-header) !important;
		color: var(--third-color); 
	}
/*
	.col-xs-1 {
		margin: 0 10px 10px !important;
	}

	
*/	
	#temperatures p {
		font-size: 13px;
		margin-top: 25px;
		margin-left: 7px;
/*
		margin-left: auto;
		margin-right: auto;
*/
	}

	#wl {
		font-weight: 400 !important;
		opacity: 1 !important;
	}

</style>

<script>

$(document).ready(function(){
	$(this).scrollTop(0);

});
ga('set', 'page', '/nano.html');
ga('send', 'pageview');
</script>

<div mncwl-modal></div>

<body>
<div style="padding-top: 70px;" class="fixed-bar">

<center>
	<hr class="prod-hr">

<div class="row midContent prod-bar">
	<div class="col-lg-12">
		<p id="prod-name">Nano Cove White Light</p>
	</div>
</div>
</center>
</div>



<div id="scrollSpy">
<ul>
<li><a data-scroll="#block1" class="spy-links" ><span class="scrollTabs"></span></a></li>
<li><a data-scroll="#block2" class="spy-links" ><span class="scrollTabs"></span></a></li>
<li><a data-scroll="#block3" class="spy-links" ><span class="scrollTabs"></span></a></li>
<li><a data-scroll="#block4" class="spy-links" ><span class="scrollTabs"></span></a></li>
<li><a data-scroll="#block5" class="spy-links" ><span class="scrollTabs"></span></a></li>
<li><a data-scroll="#block6" class="spy-links" ><span class="scrollTabs"></span></a></li>
<li><a data-scroll="#block7" class="spy-links" ><span class="scrollTabs"></span></a></li>
<!--
<li><a data-scroll="#block8" class="spy-links" ><span class="scrollTabs">|</span></a></li>
<li><a data-scroll="#block9" class="spy-links" ><span class="scrollTabs">|</span></a></li>	
<li><a data-scroll="#block10" class="spy-links" ><span class="scrollTabs">|</span></a></li>
-->	
</ul>
</div>



<div id="block1">
	<center>
		<center>
			<img style="width: 100%;" draggable="false" src="images/Cove/Moda Nano Cove/NANO-ROOM-RENDER.jpg">
			<!-- Make a better render version hmmmmmmmm-->
		</center>
		<div class="midContent readContent contentParagraphs" style="margin-top: 30px;">
			MODA NANO&reg; COVE is a patented, micro-sized line-voltage cove lighting system with an ergonomic design and white satin finish. Standing at just 1in (25mm) high, it is the smallest cove fixture in our line and fits into the most confined spaces for discreet cove, alcove, and niche illumination.
		</div>
		<!--	Embedd nano video link to outside source 	-->
		
		<img class="block-img block-img-land" src="images/Cove/Moda Nano Cove/NANO-LINE-SIDE-VIEW-1.svg" draggable="false" style="width: 07%; margin-top: -35px;" >
		<img class="block-img block-img-land" src="images/Cove/Moda Nano Cove/body-still.png" draggable="false">
		<br>
		<a href="/#/#nanoBlock" class="nano-video-text-link" style="margin-top: -20px;">NANO VIDEO</a>
		
	</center>

	<center style="padding-bottom: 80px;">
  		<div mncwl-resource></div>
	</center>
</div>	

<!--		
<div class="midContent readContent" style="margin-top: 50px;">
<p>MODA NANO COVE is a patented, award-winning micro-sized line-voltage cove lighting system. 
This new cove fixture, with a futuristic ergonomic design and white satin finish, stands just 1” tall (25mm) and comes in both 1’ and 4’ in lengths.
What is now the smallest and lightest cove fixture in our line, NANO COVE fits in the most confined spaces for discreet cove, alcove, and niche illumination.
Looks can be deceptive. Utilizing our very own MODA LEDs, this fixture renders colors with the same performance as its larger MINI COVE cousin with a CRI value
of 95, specification grade R1 to R15 and TM30 values. Colors are seen with clarity across the white light spectrum regardless of your choice of color temperature.<span id="dots">..</span>
<span id="more"> <br></br>2700K is an excellent example of incandescent illumination. 3000K is perfect for almost all applications which requires a touch of warmth.
3500K is a perfect cross-over from warm to neutral, and 4000K is a pure neutral: ideal for offices and commercial projects. Our LEDs utilizes MODA Phosphor Technology, 
giving us the freedom to no longer have to accept what large die manufactures make, but to make our very own dies exclusively for the Lighting Specification industry. 

<br></br>This fixture does not have a driver, however it can dim with electronic low voltage (ELV) dimmers or dimming systems from 100-0%. <br>It can also synchronize dim with all 
connected fixtures by utilizing a brand new power and onboard control system, our award winning MODA SYNERGY technology. MODA SYNERGY is an ASIC technology which eliminates 
the need for a driver and converts power to light more efficiently. It controls power to each circuit, adjusting the voltage to each die & creating smooth dimming curves smart 
and unique enough to win Product Innovation Award (PIA) Winner 2018 for Components. MODA NANO COVE can tilt 60 degrees for light control. Its wide 120 degree illumination design 
gives a wash of light, eliminating the need to worry about color over angle, hot spots, streaking or any dark spots, even at each fixture connection. Cool running, this fixture 
delivers up to 350 lm/ft.
	 
<br></br>MODA NANO COVE ensures quality and convenience with its easy, 3 wire connections, continuous runs of up to 175’, as well as integral thumb-latch connectors that allows for rapid, 
tool-less, simple plug and play installation. Plugs only fit one way, ensuring correct electrical connection every time. MODA NANO COVE is double-insulated for electrical safety 
and works with most quality electronic low voltage dimmers and dimming systems. Even with the use of regular circuit breakers, you don’t have to worry about inrush or surge issues. 
Add an ELV dimmer/dimming system for light control, or use our award-winning MODA BRIDGE 1 to control this series with <br>0-10V controls. Unlike other fixtures in the marketplace, 
there is no longer a need to purchase additional adapters, converters, dimming boxes or control modules. Just use conventional wiring with an input of 120V direct from the dimming 
system to create a powerful lighting system, saving time and money.
	 
<br></br>MODA NANO COVE, small in stature and economically priced, is the future of cove illumination. American design with American made components. Tested by Intertek to UL1598 for use 
in USA & Canada. Supports Title 24 JA8-2019 Compliance. CE Approved. WEE. RoHS Compliant. TM-30-15 Tested. <br>Patent No. D850,700.

<br><br>Product Innovation Award (PIA) Winner 2017 for Best Luminaire. Technology Award for MODA SYNERGY - Product Innovation Award (PIA) Winner 2018 for Components. 
The LEDs used in this product won a Product Innovation Award (PIA) Winner 2018 for Components.<br></br> Designed & Developed by MODA LIGHT in Las Vegas, USA.</p>

</span></p>


		</div>
	<center><button style="margin-bottom: 50px;" onclick="readMore()" id="readBtn">+ Read more</button>
</center>
-->


	
<div id="block2">
	<div class="row midContent self-align" style="width: fit-content; padding-bottom: 90px;">
		<div class="col-lg-6" style="align-self: center;">	
			<div style="margin-right: 0px;">
					<p class="h1">Micro-sized</p>
					
					<p style="padding-bottom: 20px; width: 300px;">MODA Nano Cove, with its 1in profile, will fit into the smallest cove applications.</p>
			</div>
		</div>
		<div class="col-lg-6">	
			<img src="images/Cove/Moda Nano Cove/size-comparison.png" width="550" alt="" style="margin: 0 auto; display: block;">
		</div>
	</div>

	<hr>

	<div class="midContent maxContent" style="width: fit-content; padding-top: 60px;">
		<div class="row">
			<div class="col-xs-6" style="padding: 0 !important; margin-left: 100px; margin-right: -50px;">
				<div class="vers-fix-sect">
					<img style="width: 167px;" src="images/products/Nano/mnc-1ft_1.png">
					
					<br><br>
					<span class="p1">1ft</span><p>304mm</p>
				</div>
				<div class="vers-fix-sect">
					<img style="width: 100%; max-width: 75%;" src="images/products/Nano/mnc-4ft-front_1.png" id="img-nano-4ft">
					
					<br><br>
					<span class="p1">4ft</span><p>1.22m</p>
				</div>
			</div>


			<div class="col-xs-6" style="padding-top: 20px; width: 400px; align-self: center;">
				<span class="h1" style="margin-bottom: 20px;">Versatile Sizes</span>
				<p class="p2" style="margin-top: 20px;">Link any combination of fixtures and every fixture will dim together, smoothly, synchronized from 100% to 0%. With no minimum run lengths required, just one 1ft fixture will dim seamlessly.</p>
			</div>
		</div>

	</div>
	
</div>




<div id="block3" class="ctn" style="padding-top: 60px">

	<div class="midContent readContent contentParagraphs">
		<center>
		Featuring MODA LEDs, NANO COVE renders colors with the same performance as MODA MINI COVE with a high CRI and excellent TM30 values. Colors are seen with clarity across the white light spectrum regardless of your choice of color temperature.
		</center>
	</div>

	<br><br><br>

	<div class="row midContent maxContent" style="margin-bottom: 56px;">
		<div class="col-lg-3">
			<p style="margin-bottom: 15px; font-weight: 400;" class="p1">Temperatures</p>
			<p class="p2" style="margin-bottom: 20px !important;">Choose from our standard white light temperatures.</p>
		</div>
		<div class="col-lg-9">
		<div class="grid-container grid-container--fit">
  			<div class="grid-element">
    			<center><div class="square" id="k27"></div><p>2700K</p></center>
  			</div>
  			<div class="grid-element">
    			<center><div class="square" id="k30"></div><p>3000K</p></center>
  			</div>
  			<div class="grid-element">
    			<center><div class="square" id="k35"></div><p>3500K</p></center>
 			</div>
  			<div class="grid-element">
    			<center><div class="square" id="k40"></div><p>4000K</p></center>
  			</div>
		</div>
		</div>
	</div>

<hr>

<center>
<div class="features maxContent" style="padding-top: 80px; padding-bottom: 40px;">
			<div class="row" style="margin-left: 190px;">
				<div class="col-lg-2 col-md-4 col-xs-6"><p class="p1" style="color: var(--moda-red); font-weight: 500;">120V</p><p>Power Input</p></div>
				<div class="col-lg-2 col-md-4 col-xs-6"><p class="p1" style="color: var(--moda-red); font-weight: 500;">307+ lm/ft</p><p>Output</p></div>
				<div class="col-lg-2 col-md-4 col-xs-6"><p class="p1" style="color: var(--moda-red); font-weight: 500;">95</p><p>High Color Rendering Index</p></div>
				<div class="col-lg-2 col-md-2 col-xs-6"><p class="p1" style="color: var(--moda-red); font-weight: 500;">99</p><p>R9&#42; Values</p></div>
				<div class="col-lg-2 col-md-2 col-xs-6"><p class="p1" style="color: var(--moda-red); font-weight: 500;">97</p><p>R15&#42; Values</p></div>
				<!--
				<div id="mncSize" class="col-lg-2 col-md-4 col-xs-6"><span>{{Variable}}</span></div>
				<div class="col-lg-2 col-md-4 col-xs-6"><p class="p1">120ft</p><p>Max Continuous Run</p></div>
				-->
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-4 col-xs-6" style="float: right;"><p style="font-size: 10px; letter-spacing: 1em;">&#42;Taken from 3000K fixture</p></div>
			</div>
		</div>
</center>

<hr>

<center>
	<div style="width: 90%; max-width: 1000px; padding: 30px 0px 100px 0px;">
		<div class="row" style="text-align: left; margin-left: 40px; margin-top: 30px;">
			<div class="col-lg-4"><p class="p1" style="font-weight: 400;">Excellent TM-30-15 Values</p></div>
			<div class="col-lg-8"><p>R1-R15 tested to TM-30-15 with values in excess of 90, creating beautiful cove illumination.</p>
			</div>
		</div>
		<div style="padding-top: 50px;"></div>
	
	
		<div ng-controller="simpleSlider">
			<div class="simpleslider">
				<div class="slides">
			 		<div class="mySlides">
						<img class="tm-square"  src="images/TM30/27K/5630_27K_TM30-01.png" alt="">
						<img class="r9" src="images/TM30/27K/5630_27K_TM30-03.png" alt="">
			  		</div>
			  		<div class="mySlides">
						<img class="tm-square" src="images/TM30/30K/5630_30K_TM30-01.png" alt="">
						<img class="r9" src="images/TM30/30K/5630_30K_TM30-03.png" alt="">
			  		</div>
			  		<div class="mySlides">
						<img class="tm-square" src="images/TM30/35K/5630_35K_TM30-01.png" alt="">
						<img class="r9" src="images/TM30/35K/5630_35K_TM30-03.png" alt="">
			  		</div>
			  		<div class="mySlides">
						<img class="tm-square" src="images/TM30/40K/5630_40K_TM30-01.png" alt="">
						<img class="r9" src="images/TM30/40K/5630_40K_TM30-03.png" alt="">
			  		</div>
				</div>
		    </div>
			<div class="links">
	  			<a ng-click="currentSlide(1)" class="dot">2700K</a>
	  			<a ng-click="currentSlide(2)" class="dot">3000K</a>
	  			<a ng-click="currentSlide(3)" class="dot">3500K</a>
	  			<a ng-click="currentSlide(4)" class="dot">4000K</a>
			</div>
		</div>
		
	</div>
	</center>

</div>




<div id="block4" class="ctn" style="padding-top: 20px;">
	<center>
	<div class="midContent readContent contentParagraphs">
		MODA NANO COVE does not have a driver and dims from 100-0% with electronic low voltage (ELV) controls. Dimming is synchronized with all connected fixtures our award winning MODA SYNERGY technology. Use the <a href="#/converters" class="text-link">MODA BRIDGE</a> to control this series with 0-10V controls.
	</div>
	</center>

	<center>
	<div class="row midContent" style="max-width: 800px; padding: 40px;">

		<div class="col-lg-4 margin1" style="width: 70%;">
			<p class="p1 margin1" style="font-weight: 400;">Dimming</p>
			<p class="p2">Electronic Low Voltage &amp; 0-10V&#42;</p>
		</div>

		
		<div class="col-lg-8" style="width: 200px;">
		<div class="row">
			<div class="col-xs-2" style="margin-right: 30px;">
				<div class="dim">
				<center>
					<p class="p3">ELV</p>
				</center>
				</div>
			</div>
			<div class="col-xs-2" style="margin-left: 30px;">
				<div class="dim">
					<center>
					<p class="p3">0-10V</p>
					</center>
				</div>
								
			</div>
		</div>
		</div>

		<div style="float: right; margin-left: 10%; margin-top: 20px;"><p style="font-size: 10px; letter-spacing: 1em;">&#42;0-10V with MODA Bridge only</p></div>
	
	</div>
		
	
	<div style="width: 90%; max-width: 1000px; padding-top: 30px;">
		<div class="row" style="text-align: left;">
			<div class="col-lg-4 text-center"><img width="144" src="images/Technologies/Dim/sync-dimming.svg"></div>
			<div class="col-lg-8" style="margin-top: 25px;">
				<p>Our patent pending new dimming technology enables our fixtures to dim so precise and to be flawless at the low end trim of a dimming system. Combining our advanced firmware with intelligent micro processors and dimming chips, this technology creates a 100-0% dimming curve, smooth, no noise and flicker free and allows our lighting systems to be completely synchronized.</p>
			</div>
		</div>
	</div>

	<div style="padding-top: 80px;"></div>
		<img style="max-width: 1000px; width: 90%; padding-bottom: 40px;" draggable="false" src="images/Cove/Moda Nano Cove/nano-top-down-fixture-on.png">
		<!-- Replace this picture -->


		<div class="row midContent self-align" style="width: fit-content; padding: 60px 0px 60px 0px;">
			<div class="col-lg-6" style="align-self: center;">
				<img src="images/Technologies/Synergy/moda-synergy-driversboard.png" width="8%" alt="" id="img-moda-syn-board">
				<!--	Replace picture here with new drivers board	-->
			</div>
			<div class="col-lg-6 col-sm-9" style="text-align: left;">
				
				<img src="images/moda-logos/MODA-SYNERGY.svg" alt="moda-synergy" draggable="false" style="max-width: 600px; padding-top: 30px; padding-bottom: 30px;">
				
				<!--Replace text here-->
				<p style="padding-bottom: 20px; max-width: 650px;">This proprietary ASIC – Application-Specific Integrated Circuit – technology eliminates the need for a separate driver. It incorporates a forward-thinking power-on-board system, which replicates the same functionality of an LED board and driver and enables the fixture size to decrease.</p>
			</div>
		</div>
	
	</center>

</div>



<div id="block5" class="ctn" style="padding: 60px 0;">
	<center>
	<div class="midContent readConent contentParagraphs">
		MODA NANO COVE ensures quality and convenience with its easy, integral thumb-latch connectors that allows for rapid, toolless, plug and play installation and continuous runs up to 120ft. Plugs only fit one way, ensuring a secure electrical connection every time. Conventional wiring with an input of 120V direct from the dimming system creates a powerful lighting system, saving time and money.
	</div>

	<div class="row midContent self-align" style="width: fit-content; padding-top: 50px; padding-bottom: 50px;">
		<div class="col-lg-6" style="text-align: left;">
				<!--Use MODA Kwik Connect logo here under p class h1-->	
				<p class="h1">Easy Installation featuring<br><img src="images/moda-logos/MODA-KWIK-CONNECT.svg" alt="moda-kwik" draggable="false" style="max-width: 600px; padding-top: 15px; padding-bottom: 30px;"></p>
				<!--Replace text here-->
				<p style="padding-bottom: 20px; max-width: 420px;">Integral male and female thumb latch connectors provide a simple tool-less rapid fit connection between fixtures, saving time and installation costs. Leader Cables and Jumper Cables are also connected to fixtures using this tool-less technology.</p>
		</div>
		<div class="col-lg-6">	
			<img src="images/Technologies/Kwik Connect/nano-kwik-connect-2.png" width="500" alt="">
		</div>
	</div>
	

	</center>
</div>



<div id="block6" class="ctn" style="padding-top: 20px; padding-bottom: 20px;">

	<center>
		<p class="p1">Accessories</p>
	</center>
		<div class="midContent" style="max-width: 993px;">
      		<div class="row no-gutters-accs">
        		<div class="col-xs-6 col-sm-4 accs">
					<center><span>Leader Cables</span></center>
					<center>
					<img src="images/Accessories/MMCGI/ResizedPhotos/MMCGI 3Pin 25ft LC.png" draggable="false">
					</center>
					<center><span>10ft and 25ft</span></center>
				</div>
				<div class="col-xs-6 col-sm-4 accs">
					<center><span>Jumper Cables</span></center>
					<img src="images/Accessories/MMCGI/ResizedPhotos/MMCGI 3Pin 4ft JC.png" draggable="false">
					<center><span>1ft and 4ft</span></center>
				</div>
				<div class="col-xs-6 col-sm-4 accs">
					<center><span>Terminators</span></center>
					<img src="images/Accessories/MMCGI/ResizedPhotos/MMCGI 5pin Terminator.png" draggable="false">
					<center><span>Power end caps</span></center>
				</div>
		 		<div class="col-xs-6 col-sm-4 accs">
					 <center><span>Mounting Track</span>
						<img src="images/Accessories/Nano/nano-track.png" draggable="false">
						<span>4ft Installation Channel</span></center>
					</div>
        		<!-- <div class="col-xs-6 col-sm-4 accs shield"><center><span>Shield</span><img style="margin-bottom: 28px !important;" src="images/Accessories/MMCGI/9.png"><div id="shield-text"><span id="shield-inner">Matte Black & Matte White 6in, 1ft, and 4ft</span></div></center></div> -->
				
				<div class="col-xs-6 col-sm-4 accs">
					<center><span>Mounting Track Connector</span>
						<img src="images/Accessories/Nano/nano-track-connector.png" draggable="false">
						<span>Joins two pieces of track together</span></center>
				</div>
				<div class="col-xs-6 col-sm-4 accs">
					<center><span>Bridge 1</span>
						<img src="images/Accessories/MMCGI/b0009.png" draggable="false">
						<span>0-10V to ELV Converter</span></center>
				</div>


      </div>
    </div>

</div>
	

<div id="block7" style="padding-top: 20px; padding-bottom: 100px; ">
<center>
	<div class="midContent readContent contentParagraphs">
		MODA NANO COVE, small in stature and economically priced, is the future of cove illumination. American design with American made components. Tested by Intertek to UL1598 for use in USA & Canada. Supports Title 24 JA8-2019 Compliance. CE Approved. WEE. RoHS Compliant. TM-30-15 Tested. Patent No. D850,700.
	</div>
	
	<div class="row midContent" style="text-align: left; padding-top: 30px; margin-left: 20vw;">
		<div class="col-lg-2">
			<p class="p1" style="font-weight: 400;">Awards</p>
		</div>

		<div class="col-lg-8">
			<p>Product Innovation Award (PIA) Winner 2017 for Best Luminaire. Technology Award for MODA SYNERGY - Product Innovation Award (PIA) Winner 2018 for Components. The LEDs used in this product won a Product Innovation Award (PIA) Winner 2018 for Components. Designed & Developed by MODA LIGHT in Las Vegas, USA.</p>
		</div>
	</div>
</center>

		<center>
			<div class="row" style="max-width: 600px;">
				<div class="col-xs-4">
					<img style="max-width: 150px; margin-top: 110px;" src="images/Awards/PIA/pia-2017reflection2.png">
				</div>
				<div class="col-xs-4">
					<img style="max-width: 150px; margin-top: 110px;" src="images/Awards/PIA/pia-2018reflection.png">
				</div>
				<div class="col-xs-4">
					<img style="max-width: 150px; margin-top: 110px;" src="images/Awards/PIA/pia-2018reflection.png">
				</div>
			</div>
		</center>

	</div>


</body>


<!--

<div id="block8" style="padding: 100px 0 150px;">

</div>

<div id="block9" style="padding-top: 100px;  padding-bottom: 50px; background-color: #fafafa;">

</div>

<div id="block10" style="padding-top: 60px;">

</div>

-->

<br><br>
<script src="js/productPage.js"></script>
<script>
	productPage("ctn");
</script>
<!-- <script src="js/productBuilder.js"></script> -->
<script src="js/accordian.js"></script>
<script src="js/readMore.js"></script>
<script src="js/events.js"></script>
<script src="js/logo.js"></script>
<script src="js/mmcSize.js"></script>
<!--
<script>$(document).ready(function() {
	alert("sup");
$('.spy-links').click(function(e){
  e.preventDefault();
  var target = $($(this).attr('data-scroll'));
  if(target.length){
    var scrollTo = target.offset().top;
    $('body, html').animate({scrollTop: scrollTo+'px'}, 800);
  }
}
  )});</script>
-->

