<div class="icon-grid icon-grid-9">
    <div class="row">
<div class="col-lg-4 hovButtons">
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('coveext-cc-pg');" data-toggle="modal" data-target="#cove-ext-cc-pg-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-spec-sheet copy.svg">
            <span class="icon-grid-caption">Product Guide</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-quick-spec-gry.svg">
            <span class="icon-grid-caption">Specification</span>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="linkClick('coveext-cc-inst');" target="_blank" href="resources/Installs/Moda_Cove_Exterior_DMX_Install.pdf"><img class="icon-grid-icon" src="images/Icons/icon-install-blk.svg">
            <span class="icon-grid-caption">Installs</span></a>
            </div>
</div>

<div class="col-lg-4 hovButtons">
            <div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-brochure-gry.svg">
            <span class="icon-grid-caption">Brochure</span>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('coveext-cc-ies');" data-toggle="modal" data-target="#cove-ext-cc-ies-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-ies-blk.svg">
            <span class="icon-grid-caption">IES</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('coveext-cc-rev');" data-toggle="modal" data-target="#cove-ext-cc-rev-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-revit-blk.svg">
            <span class="icon-grid-caption">Revit</span></a>
            </div>
</div>

<div class="col-lg-4 hovButtons">
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('coveext-cc-cad');" data-toggle="modal" data-target="#cove-ext-cc-cad-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-cad-blk.svg">
            <span class="icon-grid-caption">CAD</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-compatibility-gry.svg">
            <span class="icon-grid-caption">Compatibility</span>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('coveext-cc-pack');" data-toggle="modal" data-target="#cove-ext-cc-pack-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-cad-blk.svg">
            <span class="icon-grid-caption">Pack</span></a>
            </div>
</div>

            </div>
        </div>