<div class="icon-grid">
<div class="row">
	<div class="col-lg-1 col-lg-offset-2 col-sm-3 col-xs-4 hovButtons"><a data-toggle="modal" data-target="#graze-ext-cc-pg-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-spec-sheet copy.svg">
	<span class="icon-grid-caption">Product Guide</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-quick-spec-gry.svg">
	<span class="icon-grid-caption">Specification</span>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a href="resources/Installs/Moda_Graze_Exterior_DMX_Install.pdf" target="_blank"><img class="icon-grid-icon" src="images/Icons/icon-install-blk.svg">
	<span class="icon-grid-caption">Installs</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-brochure-gry.svg">
	<span class="icon-grid-caption">Brochure</span>
	</div>
	
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-ies-gry.svg">
	<span class="icon-grid-caption">IES</span>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a data-toggle="modal" data-target="#graze-ext-cc-rev-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-revit-blk.svg">
	<span class="icon-grid-caption">Revit</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a data-toggle="modal" data-target="#graze-ext-cc-cad-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-cad-blk.svg">
	<span class="icon-grid-caption">CAD</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-compatibility-gry.svg">
	<span class="icon-grid-caption">Compatibility</span>
	</div>
		</div>
	</div>