<div class="icon-grid icon-grid-9">
      <div class="row">
<div class="col-lg-4 hovButtons">
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-pd');" data-toggle="modal" data-target="#cc-pg-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-spec-sheet copy.svg">
    		<span class="icon-grid-caption">Product Guide</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-spec');" data-toggle="modal" data-target="#cc-spec-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-quick-spec-blk.svg">
    		<span class="icon-grid-caption">Specification</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-inst');" data-toggle="modal" data-target="#cc-inst-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-install-blk.svg">
    		<span class="icon-grid-caption">Installs</span></a>
            </div>
</div>

<div class="col-lg-4 hovButtons">
            <div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-brochure-gry.svg">
    		<span class="icon-grid-caption">Brochure</span>
            </div>
    
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-ies');" data-toggle="modal" data-target="#cc-ies-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-ies-blk.svg">
    		<span class="icon-grid-caption">IES</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-rev');" data-toggle="modal" data-target="#cc-rev-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-revit-blk.svg">
    		<span class="icon-grid-caption">Revit</span></a>
            </div>
</div>

<div class="col-lg-4 hovButtons">
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-cad');" data-toggle="modal" data-target="#cc-cad-modal" data-dismiss="modal"><img class="icon-grid-icon-dis" src="images/Icons/icon-cad-blk.svg">
    		<span class="icon-grid-caption">CAD</span></a>
            </div>
            <div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-compatibility-gry.svg">
                <span class="icon-grid-caption">Compatibility</span>
                </div>
            <div class="col-xs-4 hovButtons"><a onClick="modalClick('mmc-cc-pack');" data-toggle="modal" data-target="#cc-pack-modal" data-dismiss="modal"><img class="icon-grid-icon" src="svgs/system_update_alt-24px.svg">
                <span class="icon-grid-caption">Pack</span></a>
        
                </div>
</div>
      </div>
    </div>