<div class="icon-grid">
      <div class="row">
        <div class="col-lg-1 col-lg-offset-2 col-sm-3 col-xs-4 hovButtons"><a onClick="modalClick('mmc-wl-pd');" data-toggle="modal" data-target="#wl-pg-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-spec-sheet copy.svg">
		<span class="icon-grid-caption">Product Guide</span></a>
        </div>
        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onClick="modalClick('mmc-wl-spec');" data-toggle="modal" data-target="#wl-spec-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-quick-spec-blk.svg">
		<span class="icon-grid-caption">Specification</span></a>
        </div>
        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onClick="modalClick('mmc-wl-inst');" data-toggle="modal" data-target="#wl-inst-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-install-blk.svg">
		<span class="icon-grid-caption">Installs</span></a>
        </div>
        <!-- <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-brochure-gry.svg">
		<span class="icon-grid-caption">Brochure</span>
        </div> -->

        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onClick="modalClick('mmc-wl-ies');" data-toggle="modal" data-target="#wl-ies-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-ies-blk.svg">
		<span class="icon-grid-caption">IES</span></a>
        </div>
        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onClick="modalClick('mmc-wl-rev');" data-toggle="modal" data-target="#wl-rev-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-revit-blk.svg">
		<span class="icon-grid-caption">Revit</span></a>
        </div>
        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onClick="modalClick('mmc-wl-cad');" data-toggle="modal" data-target="#wl-cad-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-cad-blk.svg">
		<span class="icon-grid-caption">CAD</span></a>
        </div>
        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onClick="linkClick('mmc-wl-comp');" target="_blank" href="resources/Compatability List/Mini Cove/whitelight/mmcgi-whitelight-dimmer-compatibility-list.pdf"><img class="icon-grid-icon" src="images/Icons/icon-compatibility-blk.svg">
		<span class="icon-grid-caption">Compatibility</span></a>
        </div>
        <div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a onclick="modalClick('mmc-wl-pack')" data-toggle="modal" data-target="#wl-pack-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-brochure-gry.svg">
            <span class="icon-grid-caption">Packaging</span></a>
            </div>
      </div>
    </div>