<div class="icon-grid">
<div class="row">
	<div class="col-lg-1 col-lg-offset-2 col-sm-3 col-xs-4 hovButtons"><a target="_blank" href="resources/Product Guide/Moda_Mini_Graze_Interior_Glowdim_010V_Product_Guide.pdf"><img class="icon-grid-icon" src="images/Icons/icon-spec-sheet copy.svg">
	<span class="icon-grid-caption">Product Guide</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a target="_blank" href="resources/Specification/Moda_Mini_Graze_Interior_Glowdim_010V_Specification.pdf"><img class="icon-grid-icon" src="images/Icons/icon-quick-spec-blk.svg">
	<span class="icon-grid-caption">Specification</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a target="_blank" href="resources/Installs/Moda_Mini_Graze_Interior_Glowdim_010V_Install.pdf"><img class="icon-grid-icon" src="images/Icons/icon-install-blk.svg">
	<span class="icon-grid-caption">Installs</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-brochure-gry.svg">
	<span class="icon-grid-caption">Brochure</span>
	</div>
	
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a data-toggle="modal" data-target="#mmggd-ies-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-ies-blk.svg">
	<span class="icon-grid-caption">IES</span>
	</div></a>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a data-toggle="modal" data-target="#mmggd-rev-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-revit-blk.svg">
	<span class="icon-grid-caption">Revit</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a data-toggle="modal" data-target="#mmggd-cad-modal" data-dismiss="modal"><img class="icon-grid-icon-dis" src="images/Icons/icon-cad-blk.svg">
	<span class="icon-grid-caption">CAD</span></a>
	</div>
	<div class="col-lg-1 col-sm-3 col-xs-4 hovButtons"><a target="_blank" href="resources/Compatability List/Mini Graze/static color/mmcgi-colors-dimmer-compatibility-list.pdf"><img class="icon-grid-icon" src="images/Icons/icon-compatibility-blk.svg">
	<span class="icon-grid-caption">Compatibility</span></a>
	</div>
		</div>
	</div>