<script>
    $("#packId").click(function() {
        $("#mmgdw-pack-modal").modal('show');		
	
});
</script>
<div class="icon-grid icon-grid-9">
<div class="row">
<div class="col-lg-4 hovButtons">
	<div class="col-xs-4 hovButtons"><a data-toggle="modal" data-target="#mmgdw-pg-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-spec-sheet copy.svg">
	<span class="icon-grid-caption">Product Guide</span></a>
	</div>
	<div class="col-xs-4 hovButtons"><a data-toggle="modal" data-target="#mmgdw-spec-modal" data-dismiss="modal"><img class="icon-grid-icon" src="images/Icons/icon-quick-spec-blk.svg">
	<span class="icon-grid-caption">Specification</span></a>
	</div>
	<div class="col-xs-4 hovButtons"><a target="_blank" href="resources/Installs/Moda_Mini_Graze_Interior_Dynamics_DMX_Install.pdf"><img class="icon-grid-icon" src="images/Icons/icon-install-blk.svg">
	<span class="icon-grid-caption">Installs</span></a>
	</div>
</div>
<div class="col-lg-4 hovButtons">
	<div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-brochure-gry.svg">
	<span class="icon-grid-caption">Brochure</span>
	</div>
	<div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-ies-gry.svg">
	<span class="icon-grid-caption">IES</span>
	</div>
	<div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-revit-gry.svg">
	<span class="icon-grid-caption">Revit</span>
	</div>
</div>
<div class="col-lg-4 hovButtons">
	<div class="col-xs-4 hovButtons"><a data-toggle="modal" data-target="#mmgdw-cad-modal" data-dismiss="modal"><img class="icon-grid-icon-dis" src="images/Icons/icon-cad-blk.svg">
	<span class="icon-grid-caption">CAD</span></a>
	</div>
	<div class="col-xs-4 hovButtons"><img class="icon-grid-icon-dis" src="images/Icons/icon-compatibility-gry.svg">
	<span class="icon-grid-caption">Compatibility</span>
	</div>
	<div class="col-xs-4 hovButtons"><a id="packId" href="#/mmg-dw?pack"><img class="icon-grid-icon-dis" src="svgs/system_update_alt-24px.svg">
			<span class="icon-grid-caption">Pack</span></a>
		</div>
</div>
		</div>
	</div>
